{"openapi":"3.1.0","info":{"title":"Anduin API","version":"1.0.0","description":"Bond analytics and market data proxy API with Redis caching."},"servers":[{"url":"https://anduin.ferminrp.com","description":"Production"},{"url":"http://localhost:8787","description":"Local development"}],"tags":[{"name":"Bonds","description":"Bond data and analytics endpoints"},{"name":"Calculations","description":"Custom bond calculations"},{"name":"Market Cap","description":"Market capitalization data for top assets"},{"name":"FCI","description":"Fondos Comunes de Inversión (Argentine mutual funds) data"},{"name":"FCI Sync","description":"FCI data synchronization from CAFCI API"},{"name":"FCI Detalle","description":"FCI fund detail (ficha) from CAFCI — rendimientos, honorarios, and cartera composition"},{"name":"Crypto","description":"Cryptocurrency prices from CriptoYa (USDT, USDC, BTC, ETH vs ARS)"},{"name":"Dolar","description":"USD/ARS exchange rates from ComparaDolar (banks and fintechs)"},{"name":"Providers","description":"Service providers (fintech apps and institutions)"},{"name":"BCRA","description":"Banco Central de la República Argentina - Principales variables monetarias"},{"name":"Indices","description":"Índices económicos (Riesgo País, Inflación Mensual, UVA, ICL) desde Dolarito"},{"name":"Promos","description":"Promociones de vuelos desde promociones-aereas.com.ar"},{"name":"Health","description":"Service health and readiness endpoints"},{"name":"Webhooks","description":"Webhook receiving and management endpoints"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"API key for administrative endpoints. Format: Bearer <api-key>"}},"schemas":{"EnrichedBond":{"allOf":[{"$ref":"#/components/schemas/Bond"},{"type":"object","properties":{"detail":{"$ref":"#/components/schemas/BondDetail"},"analytics":{"$ref":"#/components/schemas/BondAnalytics"},"cashflows":{"$ref":"#/components/schemas/BondCashflows"}},"required":["detail","analytics","cashflows"]}]},"BondDetail":{"allOf":[{"$ref":"#/components/schemas/Bond"},{"type":"object","nullable":true,"properties":{"issuer":{"type":"string"},"currency":{"type":"string"},"couponFrequency":{"type":"number"},"dayCountConvention":{"type":"string"}},"required":["issuer","currency","couponFrequency","dayCountConvention"]}]},"Bond":{"type":"object","properties":{"isin":{"type":"string"},"ticker":{"type":"string"},"name":{"type":"string"},"coupon":{"type":"number"},"maturity":{"type":"string"}},"required":["isin","ticker","name","coupon","maturity"]},"BondAnalytics":{"type":"object","nullable":true,"properties":{"isin":{"type":"string"},"ticker":{"type":"string"},"settlement":{"type":"string"},"market":{"type":"object","properties":{"price":{"type":"number"},"timestamp":{"type":"string"}},"required":["price","timestamp"]},"yields":{"type":"object","properties":{"ytm":{"type":"number"},"currentYield":{"type":"number"}},"required":["ytm","currentYield"]},"risk":{"type":"object","properties":{"modifiedDuration":{"type":"number"},"macaulayDuration":{"type":"number"},"effectiveDuration":{"type":"number"},"convexity":{"type":"number"},"dv01":{"type":"number"}},"required":["modifiedDuration","macaulayDuration","effectiveDuration","convexity","dv01"]},"spreads":{"type":"object","properties":{"gSpread":{"type":"number"},"zSpread":{"type":"number"},"treasuryYield":{"type":"number"},"treasuryTenor":{"type":"string"}},"required":["gSpread","zSpread","treasuryYield","treasuryTenor"]},"pricing":{"type":"object","properties":{"cleanPrice":{"type":"number"},"accruedInterest":{"type":"number"},"dirtyPrice":{"type":"number"}},"required":["cleanPrice","accruedInterest","dirtyPrice"]},"schedule":{"type":"object","properties":{"nextCouponDate":{"type":"string"},"daysToNextCoupon":{"type":"number"},"averageLife":{"type":"number"}},"required":["nextCouponDate","daysToNextCoupon","averageLife"]}},"required":["isin","ticker","settlement"]},"BondCashflows":{"type":"object","nullable":true,"properties":{"isin":{"type":"string"},"ticker":{"type":"string"},"name":{"type":"string"},"settlement":{"type":"string"},"cashflows":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"couponPayment":{"type":"number"},"principalPayment":{"type":"number"},"totalPayment":{"type":"number"},"remainingNotional":{"type":"number"},"paymentType":{"type":"string","enum":["COUPON","PRINCIPAL","MATURITY"]}},"required":["date","couponPayment","principalPayment","totalPayment","remainingNotional","paymentType"]}},"summary":{"type":"object","properties":{"count":{"type":"number"},"totalCoupon":{"type":"number"},"totalPrincipal":{"type":"number"},"totalCashflow":{"type":"number"},"finalDate":{"type":"string"}},"required":["count","totalCoupon","totalPrincipal","totalCashflow","finalDate"]}},"required":["isin","ticker","name","settlement","cashflows","summary"]},"BondsMissingCounts":{"type":"object","properties":{"detail":{"type":"number","description":"Number of bonds missing detail in cache"},"analytics":{"type":"number","description":"Number of bonds missing analytics in cache"},"cashflows":{"type":"number","description":"Number of bonds missing cashflows in cache"},"totalMissingSections":{"type":"number","description":"Total number of missing sections across all bonds"},"totalBondsWithMissing":{"type":"number","description":"Number of bonds missing at least one section"}},"required":["detail","analytics","cashflows","totalMissingSections","totalBondsWithMissing"]},"BondsMissingByBond":{"type":"object","properties":{"identifier":{"type":"string","description":"Identifier used for lookup diagnostics (ISIN preferred, ticker fallback)"},"missing":{"type":"array","items":{"type":"string","enum":["detail","analytics","cashflows"]}}},"required":["identifier","missing"]},"TreasuryCurve":{"type":"object","properties":{"date":{"type":"string"},"rates":{"type":"object","additionalProperties":{"type":"number"}},"source":{"type":"string"},"lastUpdated":{"type":"string"}},"required":["date","rates","source","lastUpdated"]},"MarketCapData":{"type":"object","properties":{"lastUpdated":{"type":"string"},"source":{"type":"string"},"totalAssets":{"type":"number"},"assets":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}}},"required":["lastUpdated","source","totalAssets","assets"]},"Asset":{"type":"object","properties":{"rank":{"type":"number"},"name":{"type":"string"},"symbol":{"type":"string"},"logo":{"type":"string"},"marketCap":{"type":"string"},"marketCapNumeric":{"type":"number"},"price":{"type":"string"},"priceNumeric":{"type":"number"},"todayChange":{"type":"string"},"todayChangeNumeric":{"type":"number"},"country":{"type":"string","nullable":true}},"required":["rank","name","symbol","logo","marketCap","marketCapNumeric","price","priceNumeric","todayChange","todayChangeNumeric","country"]},"MarketCapRefreshResponse":{"type":"object","properties":{"message":{"type":"string"},"totalAssets":{"type":"number"},"lastUpdated":{"type":"string"}},"required":["message","totalAssets","lastUpdated"]},"HealthCheck":{"type":"object","properties":{"status":{"type":"string","enum":["healthy"]},"timestamp":{"type":"string","format":"date-time"},"uptime":{"type":"number"}},"required":["status","timestamp","uptime"]},"ReadinessCheck":{"type":"object","properties":{"status":{"type":"string","enum":["ready"]},"timestamp":{"type":"string","format":"date-time"}},"required":["status","timestamp"]},"LivenessCheck":{"type":"object","properties":{"status":{"type":"string","enum":["alive"]},"timestamp":{"type":"string","format":"date-time"}},"required":["status","timestamp"]},"Webhook":{"type":"object","properties":{"id":{"type":"string","description":"Webhook unique identifier"},"event":{"type":"string","description":"Event name"},"timestamp":{"type":"string","format":"date-time","description":"When the webhook was received"},"processed":{"type":"boolean","description":"Whether the webhook has been processed"}},"required":["id","event","timestamp","processed"]},"WebhookReceived":{"type":"object","properties":{"id":{"type":"string","description":"Assigned webhook ID"},"event":{"type":"string","description":"Event name"},"status":{"type":"string","enum":["received"],"description":"Processing status"},"processedAt":{"type":"string","format":"date-time","description":"When the webhook was processed"}},"required":["id","event","status","processedAt"]},"WebhookPayload":{"type":"object","properties":{"event":{"type":"string","minLength":1,"description":"Event name","example":"user.created"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp","example":"2025-01-29T12:00:00Z"},"data":{"type":"object","additionalProperties":{"nullable":true},"description":"Event-specific data"},"source":{"type":"string","description":"Source system identifier"}},"required":["event","timestamp"]},"WebhookDetail":{"allOf":[{"$ref":"#/components/schemas/Webhook"},{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"nullable":true},"description":"Event-specific data"}}}]},"FCI":{"type":"object","properties":{"id":{"type":"number"},"fondoNombre":{"type":"string"},"categoriaId":{"type":"number"},"categoriaNombre":{"type":"string"},"fecha":{"type":"string"},"horizonte":{"type":"string","nullable":true},"vcp":{"type":"number"},"ccp":{"type":"number","nullable":true},"patrimonio":{"type":"number","nullable":true}},"required":["id","fondoNombre","categoriaId","categoriaNombre","fecha","horizonte","vcp","ccp","patrimonio"]},"FCIRendimiento":{"type":"object","properties":{"variacionPorcentual":{"type":"number"},"variacionAbsoluta":{"type":"number"},"vcpInicial":{"type":"number"},"vcpFinal":{"type":"number"},"fechaInicial":{"type":"string"},"fechaFinal":{"type":"string"}},"required":["variacionPorcentual","variacionAbsoluta","vcpInicial","vcpFinal","fechaInicial","fechaFinal"]},"FCIRankingEntry":{"type":"object","properties":{"posicion":{"type":"number"},"fondoNombre":{"type":"string"},"categoriaId":{"type":"number"},"categoriaNombre":{"type":"string"},"rendimiento":{"type":"number"},"vcpInicial":{"type":"number"},"vcpFinal":{"type":"number"},"fechaInicial":{"type":"string"},"fechaFinal":{"type":"string"}},"required":["posicion","fondoNombre","categoriaId","categoriaNombre","rendimiento","vcpInicial","vcpFinal","fechaInicial","fechaFinal"]},"FCICategoria":{"type":"object","properties":{"id":{"type":"number"},"nombre":{"type":"string"},"totalFondos":{"type":"number"},"patrimonioTotal":{"type":"number","nullable":true}},"required":["id","nombre","totalFondos","patrimonioTotal"]},"FCISyncResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"durationMs":{"type":"number"},"summary":{"type":"object","properties":{"totalCategories":{"type":"number"},"totalDates":{"type":"number"},"totalRecordsProcessed":{"type":"number"},"totalRecordsInserted":{"type":"number"},"totalRecordsUpdated":{"type":"number"},"successCount":{"type":"number"},"failedCount":{"type":"number"}},"required":["totalCategories","totalDates","totalRecordsProcessed","totalRecordsInserted","totalRecordsUpdated","successCount","failedCount"]},"results":{"type":"array","items":{"$ref":"#/components/schemas/FCISyncResult"}},"errors":{"type":"array","items":{"type":"string"}}},"required":["success","message","startedAt","completedAt","durationMs","summary","results","errors"]},"FCISyncResult":{"type":"object","properties":{"categoriaId":{"type":"number"},"fecha":{"type":"string"},"status":{"type":"string","enum":["success","partial","failed"]},"recordsProcessed":{"type":"number"},"recordsInserted":{"type":"number"},"recordsUpdated":{"type":"number"},"durationMs":{"type":"number"},"error":{"type":"string"}},"required":["categoriaId","fecha","status","recordsProcessed","recordsInserted","recordsUpdated","durationMs"]},"FCISyncStatusResponse":{"type":"object","properties":{"lastSync":{"type":"string","nullable":true,"format":"date-time"},"status":{"type":"string","enum":["healthy","degraded","failing"]},"stats":{"type":"object","properties":{"totalRegistros":{"type":"number"},"ultimas24hInserts":{"type":"number"},"ultimas24hUpdates":{"type":"number"}},"required":["totalRegistros","ultimas24hInserts","ultimas24hUpdates"]},"pendingRetries":{"type":"number"},"failedItems":{"type":"array","items":{"type":"object","properties":{"categoriaId":{"type":"number"},"fecha":{"type":"string"},"retryCount":{"type":"number"},"lastError":{"type":"string","nullable":true}},"required":["categoriaId","fecha","retryCount","lastError"]}}},"required":["lastSync","status","stats","pendingRetries","failedItems"]},"FCISyncCategoria":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"description":{"type":"string"}},"required":["id","name","description"]},"FCIFichaFondo":{"type":"object","properties":{"fondoNombre":{"type":"string"},"fondoId":{"type":"string"},"clases":{"type":"array","items":{"$ref":"#/components/schemas/FCIFichaClase"}}},"required":["fondoNombre","fondoId","clases"]},"FCIFichaClase":{"type":"object","properties":{"claseId":{"type":"string"},"fondoId":{"type":"string"},"nombre":{"type":"string","description":"Full class name (e.g., \"IEB Estratégico - Clase A\")"},"fondoNombre":{"type":"string","description":"Parent fund name"},"moneda":{"type":"object","properties":{"codigo":{"type":"string"},"nombre":{"type":"string"}},"required":["codigo","nombre"]},"tipoRenta":{"type":"object","properties":{"codigo":{"type":"string"},"nombre":{"type":"string"}},"required":["codigo","nombre"]},"tipoFondo":{"type":"string"},"horizonte":{"type":"object","properties":{"codigo":{"type":"string"},"nombre":{"type":"string"}},"required":["codigo","nombre"]},"duration":{"type":"string"},"region":{"type":"string"},"gerente":{"type":"object","properties":{"nombre":{"type":"string"},"nombreCorto":{"type":"string"}},"required":["nombre","nombreCorto"]},"depositaria":{"type":"object","properties":{"nombre":{"type":"string"},"nombreCorto":{"type":"string"}},"required":["nombre","nombreCorto"]},"diaria":{"type":"object","properties":{"fecha":{"type":"string"},"patrimonio":{"type":"number","nullable":true},"vcp":{"type":"number","nullable":true},"rendimientos":{"type":"object","properties":{"dia":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]},"mes":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]},"ytd":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]},"unAnio":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]},"tresAnios":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]},"cincoAnios":{"type":"object","properties":{"rendimiento":{"type":"number","nullable":true},"tna":{"type":"number","nullable":true}},"required":["rendimiento","tna"]}},"required":["dia","mes","ytd","unAnio","tresAnios","cincoAnios"]}},"required":["fecha","patrimonio","vcp","rendimientos"]},"honorarios":{"type":"object","properties":{"inversionMinima":{"type":"number","nullable":true},"administracionGerente":{"type":"number","nullable":true},"administracionDepositaria":{"type":"number","nullable":true},"exito":{"type":"boolean"},"gastosGestion":{"type":"number","nullable":true},"comisionIngreso":{"type":"number","nullable":true},"comisionRescate":{"type":"number","nullable":true},"comisionTransferencia":{"type":"number","nullable":true}},"required":["inversionMinima","administracionGerente","administracionDepositaria","exito","gastosGestion","comisionIngreso","comisionRescate","comisionTransferencia"]},"cartera":{"type":"object","properties":{"fechaDatos":{"type":"string"},"activos":{"type":"array","items":{"type":"object","properties":{"nombre":{"type":"string"},"porcentaje":{"type":"number"}},"required":["nombre","porcentaje"]}}},"required":["fechaDatos","activos"]},"fetchedAt":{"type":"string","format":"date-time"}},"required":["claseId","fondoId","nombre","fondoNombre","moneda","tipoRenta","tipoFondo","horizonte","duration","region","gerente","depositaria","diaria","honorarios","cartera","fetchedAt"]},"FCIFichaSyncResult":{"type":"object","properties":{"identifier":{"type":"string"},"syncedAt":{"type":"string","format":"date-time"},"results":{"type":"array","items":{"type":"object","properties":{"claseId":{"type":"string"},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["claseId","success"]}},"summary":{"type":"object","properties":{"total":{"type":"number"},"success":{"type":"number"},"failed":{"type":"number"}},"required":["total","success","failed"]}},"required":["identifier","syncedAt","results","summary"]},"CryptoRefreshResponse":{"type":"object","properties":{"refreshedAt":{"type":"string","format":"date-time"},"pairs":{"type":"array","items":{"type":"object","properties":{"pair":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"]},"providersCount":{"type":"number"},"cachedUntil":{"type":"string","format":"date-time"}},"required":["pair","providersCount","cachedUntil"]}}},"required":["refreshedAt","pairs"]},"CryptoPriceResponse":{"type":"object","nullable":true,"properties":{"pair":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"]},"amount":{"type":"number"},"providers":{"type":"array","items":{"$ref":"#/components/schemas/CryptoProviderPrice"}},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["pair","amount","providers","fetchedAt","cached"]},"CryptoProviderPrice":{"type":"object","properties":{"name":{"type":"string","description":"Provider name (e.g., ripio, belo, buenbit)"},"ask":{"type":"number"},"totalAsk":{"type":"number"},"bid":{"type":"number"},"totalBid":{"type":"number"},"time":{"type":"number"},"prettyName":{"type":"string","description":"Human-readable name (when enrich_providers=true)"},"url":{"type":"string","description":"Provider URL (when enrich_providers=true)"},"imgUrl":{"type":"string","description":"Provider logo URL (when enrich_providers=true)"}},"required":["name","ask","totalAsk","bid","totalBid","time"]},"CryptoHistoryResponse":{"type":"object","properties":{"pair":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"]},"provider":{"type":"string"},"records":{"type":"array","items":{"$ref":"#/components/schemas/CryptoHistoryRecord"}}},"required":["pair","provider","records"]},"CryptoHistoryRecord":{"type":"object","properties":{"provider":{"type":"string"},"ask":{"type":"number","nullable":true},"totalAsk":{"type":"number","nullable":true},"bid":{"type":"number","nullable":true},"totalBid":{"type":"number","nullable":true},"time":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}},"required":["provider","ask","totalAsk","bid","totalBid","time","createdAt"]},"Provider":{"type":"object","properties":{"id":{"type":"string","description":"Unique slug identifier (lowercase, hyphens allowed)","example":"mercado-pago"},"prettyName":{"type":"string","description":"Human-readable name","example":"Mercado Pago"},"url":{"type":"string","format":"uri","description":"Provider URL"},"imgUrl":{"type":"string","format":"uri","description":"Logo image URL"},"tags":{"type":"array","items":{"type":"string"},"description":"Categorization tags","example":["crypto","wallet"]}},"required":["id","prettyName","url","imgUrl","tags"]},"CreateProvider":{"type":"object","properties":{"id":{"type":"string","description":"Unique slug identifier","example":"new-provider"},"pretty_name":{"type":"string","description":"Human-readable name","example":"New Provider"},"url":{"type":"string","format":"uri","description":"Provider URL"},"img_url":{"type":"string","format":"uri","description":"Logo image URL"},"tags":{"type":"array","items":{"type":"string"},"description":"Categorization tags"}},"required":["id","pretty_name","url","img_url","tags"]},"UpdateProvider":{"type":"object","properties":{"pretty_name":{"type":"string","description":"Human-readable name"},"url":{"type":"string","format":"uri","description":"Provider URL"},"img_url":{"type":"string","format":"uri","description":"Logo image URL"},"tags":{"type":"array","items":{"type":"string"},"description":"Categorization tags"}}},"ProviderSeedResponse":{"type":"object","properties":{"message":{"type":"string"},"count":{"type":"number"},"providers":{"type":"array","items":{"type":"string"}}},"required":["message","count","providers"]},"DolarRefreshResponse":{"type":"object","properties":{"refreshedAt":{"type":"string","format":"date-time"},"providersCount":{"type":"number"},"cachedUntil":{"type":"string","format":"date-time"}},"required":["refreshedAt","providersCount","cachedUntil"]},"DolarPriceResponse":{"type":"object","properties":{"providers":{"type":"array","items":{"$ref":"#/components/schemas/DolarProvider"}},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["providers","fetchedAt","cached"]},"DolarProvider":{"type":"object","properties":{"name":{"type":"string","description":"Provider slug (e.g., banco-nacion, cocos, brubank)"},"bid":{"type":"number","nullable":true,"description":"Buy price (ARS per USD)"},"ask":{"type":"number","nullable":true,"description":"Sell price (ARS per USD)"},"prettyName":{"type":"string","description":"Human-readable name (when enrich_providers=true)"},"url":{"type":"string","description":"Provider URL (when enrich_providers=true)"},"imgUrl":{"type":"string","description":"Provider logo URL (when enrich_providers=true)"}},"required":["name","bid","ask"]},"DolarHistoryResponse":{"type":"object","properties":{"provider":{"type":"string"},"records":{"type":"array","items":{"$ref":"#/components/schemas/DolarHistoryRecord"}}},"required":["provider","records"]},"DolarHistoryRecord":{"type":"object","properties":{"provider":{"type":"string"},"bid":{"type":"number","nullable":true},"ask":{"type":"number","nullable":true},"createdAt":{"type":"string","format":"date-time"}},"required":["provider","bid","ask","createdAt"]},"DolarTiposRefreshResponse":{"type":"object","properties":{"refreshedAt":{"type":"string","format":"date-time"},"tiposCount":{"type":"number"},"cachedUntil":{"type":"string","format":"date-time"}},"required":["refreshedAt","tiposCount","cachedUntil"]},"DolarTiposResponse":{"type":"object","properties":{"tipos":{"type":"array","items":{"$ref":"#/components/schemas/DolarTipo"}},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["tipos","fetchedAt","cached"]},"DolarTipo":{"type":"object","properties":{"slug":{"type":"string","description":"Dollar type slug (e.g., oficial, informal, mep, ccl)","example":"oficial"},"name":{"type":"string","description":"Human-readable name","example":"dolar oficial"},"buy":{"type":"number","nullable":true,"description":"Buy price (ARS per USD)"},"sell":{"type":"number","nullable":true,"description":"Sell price (ARS per USD)"},"timestamp":{"type":"number","description":"Price timestamp (milliseconds)"},"variation":{"type":"number","nullable":true,"description":"Daily price variation (%)"},"spread":{"type":"number","nullable":true,"description":"Buy/sell spread"}},"required":["slug","name","buy","sell","timestamp","variation","spread"]},"BcraRefreshResponse":{"type":"object","properties":{"refreshedAt":{"type":"string","format":"date-time"},"variablesCount":{"type":"number"},"historicFetched":{"type":"number","description":"Number of variables with historical data successfully fetched"},"cachedUntil":{"type":"string","format":"date-time"}},"required":["refreshedAt","variablesCount","historicFetched","cachedUntil"]},"BcraVariablesResponse":{"type":"object","properties":{"variables":{"type":"array","items":{"$ref":"#/components/schemas/BcraVariable"}},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"},"totalVariables":{"type":"number"}},"required":["variables","fetchedAt","cached","totalVariables"]},"BcraVariable":{"type":"object","properties":{"idVariable":{"type":"number","description":"BCRA variable ID","example":1},"descripcion":{"type":"string","description":"Variable description","example":"Reservas internacionales"},"categoria":{"type":"string","description":"Category","example":"Principales Variables"},"tipoSerie":{"type":"string","description":"Series type","example":"Saldos"},"periodicidad":{"type":"string","description":"Periodicity (D=daily, M=monthly)","example":"D"},"unidadExpresion":{"type":"string","description":"Unit of expression","example":"En millones de USD"},"moneda":{"type":"string","description":"Currency (ML=local, ME=foreign)","example":"ME"},"primerFechaInformada":{"type":"string","description":"First reported date","example":"1996-01-03"},"ultFechaInformada":{"type":"string","description":"Last reported date","example":"2026-02-02"},"ultValorInformado":{"type":"number","description":"Last reported value","example":45104}},"required":["idVariable","descripcion","categoria","tipoSerie","periodicidad","unidadExpresion","moneda","primerFechaInformada","ultFechaInformada","ultValorInformado"]},"BcraVariableResponse":{"type":"object","properties":{"variable":{"$ref":"#/components/schemas/BcraVariable"},"historico":{"type":"array","items":{"$ref":"#/components/schemas/BcraHistoricalDataPoint"},"description":"Historical data points (up to 1000 most recent)"},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["variable","historico","fetchedAt","cached"]},"BcraHistoricalDataPoint":{"type":"object","properties":{"fecha":{"type":"string","description":"Date of the data point","example":"2026-02-02"},"valor":{"type":"number","description":"Value at that date","example":45104}},"required":["fecha","valor"]},"IndicesRefreshResponse":{"type":"object","properties":{"refreshedAt":{"type":"string","format":"date-time"},"indicesFetched":{"type":"number","description":"Number of indices successfully fetched","example":4},"indices":{"type":"array","items":{"type":"string"},"description":"Slugs of fetched indices","example":["riesgo-pais","inflacion-mensual","icl","uva"]},"cachedUntil":{"type":"string","format":"date-time"}},"required":["refreshedAt","indicesFetched","indices","cachedUntil"]},"IndicesLatestResponse":{"type":"object","properties":{"indices":{"type":"array","items":{"$ref":"#/components/schemas/IndiceLatestEntry"},"description":"Latest value of each index"},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["indices","fetchedAt","cached"]},"IndiceLatestEntry":{"type":"object","properties":{"slug":{"type":"string","description":"Index slug","example":"riesgo-pais"},"valor":{"type":"number","description":"Latest value","example":502},"fecha":{"type":"string","description":"Date of latest value (YYYY-MM-DD)","example":"2026-02-04"}},"required":["slug","valor","fecha"]},"IndiceResponse":{"type":"object","properties":{"slug":{"type":"string","description":"Index slug identifier","example":"riesgo-pais"},"datos":{"type":"array","items":{"$ref":"#/components/schemas/IndiceDataPoint"},"description":"Historical data points sorted by date"},"totalRegistros":{"type":"number","description":"Total number of data points","example":7003},"fetchedAt":{"type":"string","format":"date-time"},"cached":{"type":"boolean"}},"required":["slug","datos","totalRegistros","fetchedAt","cached"]},"IndiceDataPoint":{"type":"object","properties":{"fecha":{"type":"string","description":"Date (YYYY-MM-DD)","example":"2026-02-04"},"valor":{"type":"number","description":"Value at that date","example":502}},"required":["fecha","valor"]},"PromosData":{"type":"object","properties":{"lastUpdated":{"type":"string","format":"date-time"},"source":{"type":"string"},"totalPromos":{"type":"number"},"promos":{"type":"array","items":{"$ref":"#/components/schemas/PromoAerea"}}},"required":["lastUpdated","source","totalPromos","promos"]},"PromoAerea":{"type":"object","properties":{"id":{"type":"number","description":"Post ID from source","example":314624},"date":{"type":"string","description":"Publication date (ISO 8601)","example":"2026-02-09T17:00:00"},"title":{"type":"string","description":"Promo title","example":"Maragogi: ¡Bajo costo desde Buenos Aires!"},"link":{"type":"string","description":"Short link with UTM params"},"permalink":{"type":"string","description":"Full permalink with UTM params"},"thumbnailUrl":{"type":"string","description":"Thumbnail image URL"},"destinationCountry":{"$ref":"#/components/schemas/PromoDestinationCountry"},"category":{"$ref":"#/components/schemas/PromoCategory"},"score":{"type":"number","minimum":1,"maximum":100,"description":"AI-generated deal score (1-100). 100 = best deal. May be absent if AI classification failed.","example":75}},"required":["id","date","title","link","permalink","thumbnailUrl","destinationCountry"]},"PromoDestinationCountry":{"type":"string","nullable":true,"pattern":"^[a-z]+(?:_[a-z]+)*$","description":"AI-detected destination country slug (lowercase English snake_case), or null if not clear/explicit.","example":"spain"},"PromoCategory":{"type":"string","enum":["vuelos","hoteles","autos","paquetes","otros"],"description":"AI-generated category. May be absent if AI classification failed."},"PromosRefreshResponse":{"type":"object","properties":{"message":{"type":"string"},"totalPromos":{"type":"number"},"lastUpdated":{"type":"string","format":"date-time"},"classified":{"type":"boolean","description":"Whether AI classification was successfully applied"}},"required":["message","totalPromos","lastUpdated","classified"]}},"parameters":{}},"paths":{"/api/v1/bonds":{"get":{"tags":["Bonds"],"summary":"List available bonds","description":"Returns the default cached list (limit=100, offset=0) and enriches each bond with cached detail, analytics, and cashflows. Missing sections are returned as null with diagnostics in meta.","parameters":[{"schema":{"type":"string","description":"Not supported in cache-only mode. Must be omitted."},"required":false,"description":"Not supported in cache-only mode. Must be omitted.","name":"search","in":"query"},{"schema":{"type":"string","minLength":2,"maxLength":2,"description":"Not supported in cache-only mode. Must be omitted."},"required":false,"description":"Not supported in cache-only mode. Must be omitted.","name":"country","in":"query"},{"schema":{"type":"string","enum":["sovereign","corporate"],"description":"Not supported in cache-only mode. Must be omitted."},"required":false,"description":"Not supported in cache-only mode. Must be omitted.","name":"type","in":"query"},{"schema":{"type":"string","description":"Only supported value: 100"},"required":false,"description":"Only supported value: 100","name":"limit","in":"query"},{"schema":{"type":"string","description":"Only supported value: 0"},"required":false,"description":"Only supported value: 0","name":"offset","in":"query"}],"responses":{"200":{"description":"Enriched list of bonds from cache","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"bonds":{"type":"array","items":{"$ref":"#/components/schemas/EnrichedBond"}},"meta":{"type":"object","properties":{"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"},"missingCounts":{"$ref":"#/components/schemas/BondsMissingCounts"},"missingByBond":{"type":"array","items":{"$ref":"#/components/schemas/BondsMissingByBond"}}},"required":["total","limit","offset","missingCounts","missingByBond"]}},"required":["bonds","meta"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Unsupported query params in cache-only mode","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"503":{"description":"Cache miss for the base bonds list","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bonds/{identifier}":{"get":{"tags":["Bonds"],"summary":"Get bond details","description":"Returns detailed information about a specific bond by ISIN, ticker, or localTicker.","parameters":[{"schema":{"type":"string","description":"Bond ISIN, ticker, or localTicker"},"required":true,"description":"Bond ISIN, ticker, or localTicker","name":"identifier","in":"path"}],"responses":{"200":{"description":"Bond details","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BondDetail"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Bond not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bonds/{identifier}/analytics":{"get":{"tags":["Bonds"],"summary":"Get bond analytics","description":"Returns analytics calculated with the latest market price. Use fields parameter to request specific sections.","parameters":[{"schema":{"type":"string","description":"Bond ISIN, ticker, or localTicker"},"required":true,"description":"Bond ISIN, ticker, or localTicker","name":"identifier","in":"path"},{"schema":{"type":"string","description":"Comma-separated fields: market,yields,risk,spreads,pricing,schedule"},"required":false,"description":"Comma-separated fields: market,yields,risk,spreads,pricing,schedule","name":"fields","in":"query"}],"responses":{"200":{"description":"Bond analytics","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BondAnalytics"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Bond not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"503":{"description":"No market price available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bonds/{identifier}/cashflows":{"get":{"tags":["Bonds"],"summary":"Get bond cashflows","description":"Returns the remaining cashflow schedule (coupon and principal payments after settlement).","parameters":[{"schema":{"type":"string","description":"Bond ISIN, ticker, or localTicker"},"required":true,"description":"Bond ISIN, ticker, or localTicker","name":"identifier","in":"path"},{"schema":{"type":"string","description":"Settlement date (YYYY-MM-DD)"},"required":false,"description":"Settlement date (YYYY-MM-DD)","name":"settlement","in":"query"}],"responses":{"200":{"description":"Bond cashflows","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BondCashflows"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/bonds/calculate":{"post":{"tags":["Calculations"],"summary":"Calculate bond analytics","description":"Calculate full analytics for a single bond. Provide exactly one identifier (isin, ticker, or localTicker) and exactly one input (price, ytm, gSpread, or zSpread).","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"isin":{"type":"string","description":"Bond ISIN"},"ticker":{"type":"string","description":"Bond ticker"},"localTicker":{"type":"string","description":"Local market ticker"},"price":{"type":"number","description":"Clean price (% of face)"},"ytm":{"type":"number","description":"Yield to maturity (%)"},"gSpread":{"type":"number","description":"G-spread (basis points)"},"zSpread":{"type":"number","description":"Z-spread (basis points)"},"settlement":{"type":"string","description":"Settlement date (YYYY-MM-DD)"}}}}}},"responses":{"200":{"description":"Calculation result","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BondAnalytics"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bonds/calculate/batch":{"post":{"tags":["Calculations"],"summary":"Batch calculate bond analytics","description":"Calculate analytics for up to 50 bonds in a single request.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"bonds":{"type":"array","items":{"type":"object","properties":{"isin":{"type":"string"},"ticker":{"type":"string"},"localTicker":{"type":"string"},"price":{"type":"number"},"ytm":{"type":"number"},"gSpread":{"type":"number"},"zSpread":{"type":"number"}}}},"settlement":{"type":"string","description":"Settlement date for all bonds"}},"required":["bonds"]}}}},"responses":{"200":{"description":"Batch calculation results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"results":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/BondAnalytics"},{"type":"object","properties":{"index":{"type":"number"}},"required":["index"]}]}},"errors":{"type":"array","items":{"type":"object","properties":{"index":{"type":"number"},"isin":{"type":"string"},"error":{"type":"string"},"message":{"type":"string"}},"required":["index","error","message"]}},"meta":{"type":"object","properties":{"requested":{"type":"number"},"successful":{"type":"number"},"failed":{"type":"number"}},"required":["requested","successful","failed"]}},"required":["results","errors","meta"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/bonds/treasury-curve":{"get":{"tags":["Bonds"],"summary":"Get US Treasury curve","description":"Returns the current US Treasury yield curve from FRED. No authentication required.","responses":{"200":{"description":"Treasury curve","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/TreasuryCurve"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/market-cap":{"get":{"tags":["Market Cap"],"summary":"Get market cap data","description":"Returns market capitalization data for top assets. Data is cached with Cloudflare edge cache for 15 minutes.","parameters":[{"schema":{"type":"string","description":"Max results (1-100, default 100)"},"required":false,"description":"Max results (1-100, default 100)","name":"limit","in":"query"}],"responses":{"200":{"description":"Market cap data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/MarketCapData"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No data available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/market-cap/refresh":{"post":{"tags":["Market Cap"],"summary":"Refresh market cap data","description":"Scrapes fresh market capitalization data and stores it in Redis cache.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Data refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/MarketCapRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/health":{"get":{"tags":["Health"],"summary":"Health check","description":"Returns the overall health status of the service including uptime.","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/HealthCheck"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/health/ready":{"get":{"tags":["Health"],"summary":"Readiness check","description":"Indicates whether the service is ready to accept traffic. Checks dependencies (KV, D1, etc.) when available.","responses":{"200":{"description":"Service is ready","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/ReadinessCheck"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/health/live":{"get":{"tags":["Health"],"summary":"Liveness check","description":"Indicates whether the service is alive and running.","responses":{"200":{"description":"Service is alive","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/LivenessCheck"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/webhooks":{"get":{"tags":["Webhooks"],"summary":"List webhooks","description":"Returns a list of recently received webhooks.","responses":{"200":{"description":"List of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"count":{"type":"number","description":"Total number of webhooks returned"}},"required":["webhooks","count"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}},"post":{"tags":["Webhooks"],"summary":"Receive webhook","description":"Receives and processes an incoming webhook from external services.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookPayload"}}}},"responses":{"201":{"description":"Webhook received successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/WebhookReceived"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Invalid webhook payload","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/webhooks/{id}":{"get":{"tags":["Webhooks"],"summary":"Get webhook details","description":"Returns detailed information about a specific webhook by ID.","parameters":[{"schema":{"type":"string","description":"Webhook unique identifier"},"required":true,"description":"Webhook unique identifier","name":"id","in":"path"}],"responses":{"200":{"description":"Webhook details","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/WebhookDetail"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Webhook not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci":{"get":{"tags":["FCI"],"summary":"List fondos","description":"Returns a list of Argentine mutual funds with optional filtering.","parameters":[{"schema":{"type":"string","description":"Date (YYYY-MM-DD), defaults to latest"},"required":false,"description":"Date (YYYY-MM-DD), defaults to latest","name":"fecha","in":"query"},{"schema":{"type":"string","description":"Category ID (2-11)"},"required":false,"description":"Category ID (2-11)","name":"categoria_id","in":"query"},{"schema":{"type":"string","enum":["COR","MED","LAR","FLEX"],"description":"Investment horizon"},"required":false,"description":"Investment horizon","name":"horizonte","in":"query"},{"schema":{"type":"string","description":"Search by fund name"},"required":false,"description":"Search by fund name","name":"search","in":"query"},{"schema":{"type":"string","description":"Minimum patrimonio filter (excludes NULL). Example: 1 to exclude funds with 0 or no patrimonio"},"required":false,"description":"Minimum patrimonio filter (excludes NULL). Example: 1 to exclude funds with 0 or no patrimonio","name":"patrimonio_min","in":"query"},{"schema":{"type":"string","description":"Max results (1-200, default 50)"},"required":false,"description":"Max results (1-200, default 50)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination offset"},"required":false,"description":"Pagination offset","name":"offset","in":"query"},{"schema":{"type":"string","enum":["nombre","vcp","patrimonio","fecha"],"description":"Sort field"},"required":false,"description":"Sort field","name":"order_by","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"description":"Sort direction"},"required":false,"description":"Sort direction","name":"order","in":"query"}],"responses":{"200":{"description":"List of fondos","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fondos":{"type":"array","items":{"$ref":"#/components/schemas/FCI"}},"meta":{"type":"object","properties":{"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"},"fechaDatos":{"type":"string"}},"required":["total","limit","offset","fechaDatos"]}},"required":["fondos","meta"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/{nombre}":{"get":{"tags":["FCI"],"summary":"Get fondo detail","description":"Returns detailed information about a specific fondo.","parameters":[{"schema":{"type":"string","description":"Fund name (URL encoded)"},"required":true,"description":"Fund name (URL encoded)","name":"nombre","in":"path"},{"schema":{"type":"string","description":"Date (YYYY-MM-DD)"},"required":false,"description":"Date (YYYY-MM-DD)","name":"fecha","in":"query"}],"responses":{"200":{"description":"Fondo detail","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCI"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Fondo not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/{nombre}/historico":{"get":{"tags":["FCI"],"summary":"Get fondo historical data","description":"Returns historical VCP and patrimonio data for a fondo.","parameters":[{"schema":{"type":"string","description":"Fund name (URL encoded)"},"required":true,"description":"Fund name (URL encoded)","name":"nombre","in":"path"},{"schema":{"type":"string","description":"Start date (YYYY-MM-DD)"},"required":false,"description":"Start date (YYYY-MM-DD)","name":"desde","in":"query"},{"schema":{"type":"string","description":"End date (YYYY-MM-DD)"},"required":false,"description":"End date (YYYY-MM-DD)","name":"hasta","in":"query"},{"schema":{"type":"string","enum":["diario","semanal","mensual"],"description":"Data interval"},"required":false,"description":"Data interval","name":"intervalo","in":"query"},{"schema":{"type":"string","description":"Max records (default 365)"},"required":false,"description":"Max records (default 365)","name":"limit","in":"query"}],"responses":{"200":{"description":"Historical data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fondoNombre":{"type":"string"},"intervalo":{"type":"string"},"registros":{"type":"array","items":{"type":"object","properties":{"fecha":{"type":"string"},"vcp":{"type":"number"},"ccp":{"type":"number","nullable":true},"patrimonio":{"type":"number","nullable":true}},"required":["fecha","vcp","ccp","patrimonio"]}}},"required":["fondoNombre","intervalo","registros"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/{nombre}/rendimiento":{"get":{"tags":["FCI"],"summary":"Calculate fondo rendimiento","description":"Calculates the return (rendimiento) for a fondo over a specified period.","parameters":[{"schema":{"type":"string","description":"Fund name (URL encoded)"},"required":true,"description":"Fund name (URL encoded)","name":"nombre","in":"path"},{"schema":{"type":"string","enum":["1d","7d","30d","90d","ytd","1y"],"description":"Period (default 30d)"},"required":false,"description":"Period (default 30d)","name":"periodo","in":"query"},{"schema":{"type":"string","description":"Base date for calculation"},"required":false,"description":"Base date for calculation","name":"fecha_base","in":"query"}],"responses":{"200":{"description":"Rendimiento calculation","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fondoNombre":{"type":"string"},"periodo":{"type":"string"},"rendimiento":{"$ref":"#/components/schemas/FCIRendimiento"}},"required":["fondoNombre","periodo","rendimiento"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Insufficient data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/comparar":{"get":{"tags":["FCI"],"summary":"Compare fondos","description":"Compare multiple fondos over a date range.","parameters":[{"schema":{"type":"string","description":"Comma-separated fund names (max 10)"},"required":true,"description":"Comma-separated fund names (max 10)","name":"fondos","in":"query"},{"schema":{"type":"string","description":"Start date (YYYY-MM-DD)"},"required":false,"description":"Start date (YYYY-MM-DD)","name":"desde","in":"query"},{"schema":{"type":"string","description":"End date (YYYY-MM-DD)"},"required":false,"description":"End date (YYYY-MM-DD)","name":"hasta","in":"query"},{"schema":{"type":"string","enum":["vcp","patrimonio","rendimiento"],"description":"Metric to compare"},"required":false,"description":"Metric to compare","name":"metrica","in":"query"}],"responses":{"200":{"description":"Comparison data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fondos":{"type":"array","items":{"type":"string"}},"desde":{"type":"string"},"hasta":{"type":"string"},"metrica":{"type":"string"},"datos":{"type":"array","items":{"type":"object","properties":{"fecha":{"type":"string"},"valores":{"type":"object","additionalProperties":{"type":"number","nullable":true}}},"required":["fecha","valores"]}}},"required":["fondos","desde","hasta","metrica","datos"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/rankings":{"get":{"tags":["FCI"],"summary":"Get rankings","description":"Returns top/bottom performing fondos by rendimiento.","parameters":[{"schema":{"type":"string","enum":["1d","7d","30d","90d","ytd","1y"],"description":"Period (default 30d)"},"required":false,"description":"Period (default 30d)","name":"periodo","in":"query"},{"schema":{"type":"string","description":"Filter by category"},"required":false,"description":"Filter by category","name":"categoria_id","in":"query"},{"schema":{"type":"string","enum":["mejores","peores"],"description":"Ranking order (default mejores)"},"required":false,"description":"Ranking order (default mejores)","name":"orden","in":"query"},{"schema":{"type":"string","description":"Max results (default 10)"},"required":false,"description":"Max results (default 10)","name":"limit","in":"query"}],"responses":{"200":{"description":"Rankings","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"periodo":{"type":"string"},"orden":{"type":"string"},"categoriaId":{"type":"number","nullable":true},"fechaInicial":{"type":"string"},"fechaFinal":{"type":"string"},"rankings":{"type":"array","items":{"$ref":"#/components/schemas/FCIRankingEntry"}}},"required":["periodo","orden","categoriaId","fechaInicial","fechaFinal","rankings"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/categorias":{"get":{"tags":["FCI"],"summary":"List categories","description":"Returns all FCI categories with aggregate stats.","responses":{"200":{"description":"Categories list","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fecha":{"type":"string"},"categorias":{"type":"array","items":{"$ref":"#/components/schemas/FCICategoria"}}},"required":["fecha","categorias"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/categorias/{id}":{"get":{"tags":["FCI"],"summary":"Get category detail","description":"Returns category info with its fondos.","parameters":[{"schema":{"type":"string","description":"Category ID (2-11)"},"required":true,"description":"Category ID (2-11)","name":"id","in":"path"},{"schema":{"type":"string","description":"Date (YYYY-MM-DD)"},"required":false,"description":"Date (YYYY-MM-DD)","name":"fecha","in":"query"},{"schema":{"type":"string","description":"Max fondos (default 50)"},"required":false,"description":"Max fondos (default 50)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination offset"},"required":false,"description":"Pagination offset","name":"offset","in":"query"}],"responses":{"200":{"description":"Category detail","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"id":{"type":"number"},"nombre":{"type":"string"},"fecha":{"type":"string"},"totalFondos":{"type":"number"},"patrimonioTotal":{"type":"number","nullable":true},"fondos":{"type":"array","items":{"$ref":"#/components/schemas/FCI"}},"meta":{"type":"object","properties":{"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"},"fechaDatos":{"type":"string"}},"required":["total","limit","offset","fechaDatos"]}},"required":["id","nombre","fecha","totalFondos","patrimonioTotal","fondos","meta"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/stats":{"get":{"tags":["FCI"],"summary":"Get aggregate stats","description":"Returns aggregate statistics for all FCIs.","parameters":[{"schema":{"type":"string","description":"Date (YYYY-MM-DD)"},"required":false,"description":"Date (YYYY-MM-DD)","name":"fecha","in":"query"}],"responses":{"200":{"description":"Stats","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"fecha":{"type":"string"},"totalFondos":{"type":"number"},"patrimonioTotal":{"type":"number","nullable":true},"porCategoria":{"type":"array","items":{"$ref":"#/components/schemas/FCICategoria"}}},"required":["fecha","totalFondos","patrimonioTotal","porCategoria"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/fechas":{"get":{"tags":["FCI"],"summary":"Get available dates","description":"Returns list of dates with available data.","parameters":[{"schema":{"type":"string","description":"Start date filter"},"required":false,"description":"Start date filter","name":"desde","in":"query"},{"schema":{"type":"string","description":"End date filter"},"required":false,"description":"End date filter","name":"hasta","in":"query"}],"responses":{"200":{"description":"Available dates","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"total":{"type":"number"},"fechas":{"type":"array","items":{"type":"string"}},"primera":{"type":"string","nullable":true},"ultima":{"type":"string","nullable":true}},"required":["total","fechas","primera","ultima"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/sync":{"post":{"tags":["FCI Sync"],"summary":"Execute FCI sync","description":"Synchronizes FCI data from CAFCI API. Fetches data for the last 3 days by default. Requires API key authentication.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Specific date to sync (YYYY-MM-DD)"},"required":false,"description":"Specific date to sync (YYYY-MM-DD)","name":"fecha","in":"query"},{"schema":{"type":"string","description":"Specific category ID (2-11)"},"required":false,"description":"Specific category ID (2-11)","name":"categoria","in":"query"},{"schema":{"type":"string","description":"Days to sync back (1-30, default 3)"},"required":false,"description":"Days to sync back (1-30, default 3)","name":"days_back","in":"query"}],"responses":{"200":{"description":"Sync completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCISyncResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"207":{"description":"Sync completed with some errors","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCISyncResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/sync/status":{"get":{"tags":["FCI Sync"],"summary":"Get sync status","description":"Returns the current sync status and statistics. Public endpoint for monitoring.","parameters":[{"schema":{"type":"string","description":"Include failed items in response (true/false)"},"required":false,"description":"Include failed items in response (true/false)","name":"include_failed","in":"query"}],"responses":{"200":{"description":"Sync status","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCISyncStatusResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/sync/retry":{"post":{"tags":["FCI Sync"],"summary":"Retry failed sync items","description":"Retries previously failed sync operations. Requires API key authentication.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Filter by category ID"},"required":false,"description":"Filter by category ID","name":"categoria","in":"query"},{"schema":{"type":"string","description":"Filter by date (YYYY-MM-DD)"},"required":false,"description":"Filter by date (YYYY-MM-DD)","name":"fecha","in":"query"},{"schema":{"type":"string","description":"Max items to retry (1-50, default 10)"},"required":false,"description":"Max items to retry (1-50, default 10)","name":"max_items","in":"query"}],"responses":{"200":{"description":"Retry completed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"message":{"type":"string"},"retried":{"type":"number"},"succeeded":{"type":"number"},"failed":{"type":"number"},"results":{"type":"array","items":{"$ref":"#/components/schemas/FCISyncResult"}}},"required":["message","retried","succeeded","failed","results"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/sync/categories":{"get":{"tags":["FCI Sync"],"summary":"List CAFCI categories","description":"Returns the list of CAFCI category IDs and their descriptions.","responses":{"200":{"description":"Categories list","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/components/schemas/FCISyncCategoria"}}},"required":["categories"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/fci/detalle/{identifier}":{"get":{"tags":["FCI Detalle"],"summary":"Get fund detail (ficha)","description":"Returns the complete ficha of a fund from CAFCI. If identifier is numeric, returns a single class. If a fund name, returns all classes of that fund. Data is cached in Redis with a 7-day safety TTL and 24h logical freshness check. Stale data is served while refreshing in the background.","parameters":[{"schema":{"type":"string","description":"claseId (numeric) or fund name (URL encoded)","example":"4538"},"required":true,"description":"claseId (numeric) or fund name (URL encoded)","name":"identifier","in":"path"}],"responses":{"200":{"description":"Fund detail (single class or all classes)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCIFichaFondo"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Fund not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/fci/detalle/sync":{"post":{"tags":["FCI Detalle"],"summary":"Sync fund detail (admin)","description":"Force refresh a fund detail from CAFCI. Updates Redis cache and D1 snapshot. Requires API key.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"claseId (numeric) or fund name"},"required":true,"description":"claseId (numeric) or fund name","name":"identifier","in":"query"}],"responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCIFichaSyncResult"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"207":{"description":"Sync completed with some errors","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/FCIFichaSyncResult"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"404":{"description":"Fund not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/crypto/refresh":{"post":{"tags":["Crypto"],"summary":"Refresh crypto prices","description":"Fetches fresh prices from CriptoYa for all supported pairs (USDT/ARS, USDC/ARS, BTC/ARS, ETH/ARS), caches in Redis, and stores in D1.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Prices refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/CryptoRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/crypto/prices":{"get":{"tags":["Crypto"],"summary":"Get all cached prices","description":"Returns cached prices for all supported crypto pairs. Use enrich_providers=true to include provider metadata (prettyName, url, imgUrl). Returns 404 if cache is empty.","parameters":[{"schema":{"type":"string","description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\"."},"required":false,"description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\".","name":"enrich_providers","in":"query"}],"responses":{"200":{"description":"Cached prices","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CryptoPriceResponse"}},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No cached prices available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/crypto/prices/{pair}":{"get":{"tags":["Crypto"],"summary":"Get price for a specific pair","description":"Returns cached price for a specific crypto pair. Use enrich_providers=true to include provider metadata (prettyName, url, imgUrl).","parameters":[{"schema":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"],"description":"Crypto pair"},"required":true,"description":"Crypto pair","name":"pair","in":"path"},{"schema":{"type":"string","description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\"."},"required":false,"description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\".","name":"enrich_providers","in":"query"}],"responses":{"200":{"description":"Cached price","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/CryptoPriceResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Invalid pair","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"404":{"description":"No cached price available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/crypto/history/{pair}":{"get":{"tags":["Crypto"],"summary":"Get price history for a pair","description":"Returns historical price data from D1 for a specific crypto pair.","parameters":[{"schema":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"],"description":"Crypto pair"},"required":true,"description":"Crypto pair","name":"pair","in":"path"},{"schema":{"type":"string","description":"Filter by provider name"},"required":false,"description":"Filter by provider name","name":"provider","in":"query"},{"schema":{"type":"string","description":"Max records (1-1000, default 100)"},"required":false,"description":"Max records (1-1000, default 100)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination offset (default 0)"},"required":false,"description":"Pagination offset (default 0)","name":"offset","in":"query"}],"responses":{"200":{"description":"Price history","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/CryptoHistoryResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Invalid pair","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/crypto/providers/{pair}":{"get":{"tags":["Crypto"],"summary":"Get available providers for a pair","description":"Returns list of available exchange providers for a specific crypto pair.","parameters":[{"schema":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"],"description":"Crypto pair"},"required":true,"description":"Crypto pair","name":"pair","in":"path"}],"responses":{"200":{"description":"List of providers","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"pair":{"type":"string","enum":["USDT/ARS","USDC/ARS","BTC/ARS","ETH/ARS"]},"providers":{"type":"array","items":{"type":"string"}}},"required":["pair","providers"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"400":{"description":"Invalid pair","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/providers":{"get":{"tags":["Providers"],"summary":"List providers","description":"Returns a list of service providers with optional tag filtering. Cached for 15 minutes.","parameters":[{"schema":{"type":"string","description":"Comma-separated tags to include (OR logic)"},"required":false,"description":"Comma-separated tags to include (OR logic)","name":"include_tags","in":"query"},{"schema":{"type":"string","description":"Comma-separated tags to exclude"},"required":false,"description":"Comma-separated tags to exclude","name":"exclude_tags","in":"query"}],"responses":{"200":{"description":"List of providers","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"providers":{"type":"array","items":{"$ref":"#/components/schemas/Provider"}}},"required":["providers"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}},"post":{"tags":["Providers"],"summary":"Create provider","description":"Creates a new service provider. Requires API key authentication.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProvider"}}}},"responses":{"201":{"description":"Provider created","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Provider"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"409":{"description":"Provider already exists","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/providers/{id}":{"put":{"tags":["Providers"],"summary":"Update provider","description":"Updates an existing service provider. Requires API key authentication.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Provider ID (slug)"},"required":true,"description":"Provider ID (slug)","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProvider"}}}},"responses":{"200":{"description":"Provider updated","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Provider"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"404":{"description":"Provider not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}},"delete":{"tags":["Providers"],"summary":"Delete provider","description":"Deletes a service provider. Requires API key authentication.","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Provider ID (slug)"},"required":true,"description":"Provider ID (slug)","name":"id","in":"path"}],"responses":{"200":{"description":"Provider deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","properties":{"deleted":{"type":"string"}},"required":["deleted"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"404":{"description":"Provider not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/providers/seed":{"post":{"tags":["Providers"],"summary":"Seed initial providers","description":"Loads the initial set of 37 predefined providers. Requires API key authentication.","security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Providers seeded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/ProviderSeedResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/dolar/refresh":{"post":{"tags":["Dolar"],"summary":"Refresh dolar prices","description":"Fetches fresh USD/ARS exchange rates from ComparaDolar, caches in Redis, and stores in D1.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Prices refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/DolarRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"502":{"description":"Failed to fetch from ComparaDolar","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/dolar/prices":{"get":{"tags":["Dolar"],"summary":"Get cached dolar prices","description":"Returns cached USD/ARS exchange rates from multiple providers. Use enrich_providers=true to include provider metadata (prettyName, url, imgUrl).","parameters":[{"schema":{"type":"string","description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\"."},"required":false,"description":"Include provider metadata (prettyName, url, imgUrl). Use \"true\" or \"1\".","name":"enrich_providers","in":"query"}],"responses":{"200":{"description":"Cached prices","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/DolarPriceResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No cached prices available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/dolar/history":{"get":{"tags":["Dolar"],"summary":"Get dolar price history","description":"Returns historical USD/ARS exchange rate data from D1.","parameters":[{"schema":{"type":"string","description":"Filter by provider slug"},"required":false,"description":"Filter by provider slug","name":"provider","in":"query"},{"schema":{"type":"string","description":"Max records (1-1000, default 100)"},"required":false,"description":"Max records (1-1000, default 100)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Pagination offset (default 0)"},"required":false,"description":"Pagination offset (default 0)","name":"offset","in":"query"}],"responses":{"200":{"description":"Price history","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/DolarHistoryResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}}}}},"/api/v1/dolar/tipos/refresh":{"post":{"tags":["Dolar"],"summary":"Refresh dolar tipos","description":"Fetches tipos de dolar (oficial, blue, MEP, CCL, cripto, tarjeta, etc.) from Dolarito API, caches in Redis, and stores snapshot in D1.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Tipos refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/DolarTiposRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"502":{"description":"Failed to fetch from Dolarito","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/dolar/tipos":{"get":{"tags":["Dolar"],"summary":"Get dolar tipos","description":"Returns cached tipos de dolar (oficial, blue, MEP, CCL, cripto, tarjeta, etc.). Edge-cached for 5 minutes.","responses":{"200":{"description":"Cached dolar tipos","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/DolarTiposResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No cached tipos available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bcra/refresh":{"post":{"tags":["BCRA"],"summary":"Refresh BCRA variables","description":"Fetches principales variables monetarias from BCRA API, then fetches historical data (up to 1000 data points) for each variable in batches of 5. Caches everything in Redis with 7-day TTL.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Variables refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BcraRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"502":{"description":"Failed to fetch from BCRA API","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bcra/principales-variables":{"get":{"tags":["BCRA"],"summary":"Get principales variables","description":"Returns all cached BCRA principales variables monetarias (~34 variables). Call POST /bcra/refresh first to populate the cache.","responses":{"200":{"description":"Cached variables","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BcraVariablesResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No cached data available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/bcra/{idVariable}":{"get":{"tags":["BCRA"],"summary":"Get variable by ID","description":"Returns a specific BCRA variable by its ID with up to 1000 historical data points.","parameters":[{"schema":{"type":"string","description":"BCRA variable ID (numeric)","example":"1"},"required":true,"description":"BCRA variable ID (numeric)","name":"idVariable","in":"path"}],"responses":{"200":{"description":"Variable found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/BcraVariableResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Variable not found or no cached data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/indices/refresh":{"post":{"tags":["Indices"],"summary":"Refresh all indices","description":"Fetches Riesgo País, Inflación Mensual, ICL, and UVA indices from Dolarito API in parallel. Caches in Redis with 7-day TTL.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Indices refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/IndicesRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"502":{"description":"Failed to fetch from Dolarito API","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/indices":{"get":{"tags":["Indices"],"summary":"Get latest value of each index","description":"Returns the most recent value for each economic index (Riesgo País, Inflación, UVA, ICL). Single MGET to Redis.","responses":{"200":{"description":"Latest index values","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/IndicesLatestResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No cached data available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/indices/{indice}":{"get":{"tags":["Indices"],"summary":"Get index by slug","description":"Returns historical data for a specific economic index. Valid slugs: riesgo-pais, inflacion-mensual, icl, uva.","parameters":[{"schema":{"type":"string","description":"Index slug (riesgo-pais, inflacion-mensual, icl, uva)","example":"riesgo-pais"},"required":true,"description":"Index slug (riesgo-pais, inflacion-mensual, icl, uva)","name":"indice","in":"path"}],"responses":{"200":{"description":"Index data found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/IndiceResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"Index not found or no cached data","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/promos":{"get":{"tags":["Promos"],"summary":"Get flight promos","description":"Returns cached flight promotions from promociones-aereas.com.ar. Edge-cached for 30 minutes via Cache-Control header.","responses":{"200":{"description":"Cached promos","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/PromosData"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"404":{"description":"No promos data available","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}},"/api/v1/promos/refresh":{"post":{"tags":["Promos"],"summary":"Refresh flight promos","description":"Fetches fresh flight promotions from promociones-aereas.com.ar WordPress API and stores in Redis.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Promos refreshed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/PromosRefreshResponse"},"timestamp":{"type":"string","format":"date-time"}},"required":["success","data","timestamp"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"number"}},"required":["message","status"]},"timestamp":{"type":"string","format":"date-time"}},"required":["success","error","timestamp"]}}}}}}}}}